<app-header></app-header>

<div class="container">

  <div class="subtitle">
    <p>Listado de Pokemons</p>
  </div>

  <!-- search and create -->
  <app-pokemons-search (emitSearchText)="getSearchString($event)"></app-pokemons-search>

  <!-- Listado de pokemons -->
  <app-pokemons-list [pokemons]="pokemons" [searchText]="searchText" (pokemonDeleted)="isPokemonDeleted($event)"></app-pokemons-list>

  <!-- Creación de pokemons -->
  <app-pokemons-create id="create" (pokemonCreated)="isPokemonCreated($event)"></app-pokemons-create>

</div>
